p TODO: form for page title, meta description, keywords, copy for certain sections on the main page, fundraising appeal configuration + patreon link, checkboxes to enable feedback and audio feedback, audio feedback url ... social links / handles for twitter, ig, fb

