// Place all the styles related to the admin_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#admin-root {

  .list-group-item a {
    color: darkblue;
  }
  .list-group-item a:hover {
    color: orange;
  }

  .selected_admin_menu_item {
    background-color: #eee;
  }

  .flash-row {
    color: white;
  }

  .admin-user-links {
    list-style: none;
    a {
      color: darkblue;
    }
    a:hover {
      color: orange;
    }
  }
}
